.container {
  border: 1px solid black;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;

}

.content {
  background: #fafafd;
  border: 1px solid black;
}

.user-info {
  display: grid;
  grid-template-rows: 150px 200px 1fr;
}

.profile {
  background: #4c86f38e;

  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  justify-items: center;
  padding: 10px;
}

.profile .img {
  width: 100px;
  height: 100px;
  background: #4441e01e;
  border-radius: 50%;


}

.member {
  background: #b155fc75;
}

.menu {
  background: #fa33df6e;
}
