.container {
  border: 1px solid black;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  box-shadow: 3px 3px 15px #696969 ;

}


.user-info {
  display: grid;
  grid-template-rows: 150px 200px 1fr;
}

.profile {
  background: #b12c6f8e;

  display: grid;
  grid-template-rows: auto auto;
  justify-content: center;
  justify-items: center;
  padding: 10px;
}

.profile .img {
  width: 100px;
  height: 100px;
  background: #4441e01e;
  border-radius: 50%;


}

.member {
  background: #ca94f775;
}

/* .menu {
  background: #fa33df6e; */

.user-info .menu li {
  list-style: none;
  padding: 15px 20px;

}

.user-info .menu li i {
  color: #696969;
  font-size: 16px;
  margin-right: 15px;

}

.user-info .menu li a {
  color: #696969;
  font-size: 16px;
  margin-right: 15px;

}

.content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background: #fafafd;

}

.content .box-1 {
  display: grid;

}
.content .box-2 {
  background: rgb(106, 215, 230);
}
.content .box-3 {
  background: rgb(71, 203, 226);
}
.content .box-4 {
  background: rgb(88, 182, 236);
}
