<div class="container">

  <form action="">
    <div class="form">

      
      <label for="txtNome">Task</label>
      <input type="text" name="email" id="email" placeholder="E-mail" />



      <label for="txtNome">Task</label>
      <input type="text" name="email" id="email" placeholder="E-mail" />



      <label for="txtNome">Task</label>
      <input type="text" name="email" id="email" placeholder="E-mail" />



      <label for="txtNome">Task</label>
      <input type="text" name="email" id="email" placeholder="E-mail" />


      <label for="txtNome">Task</label>
      <input type="text" name="email" id="email" placeholder="E-mail" />







    </div>

  
  
  
  
  </form>

      </div>-
  
    


