<div class="container">
  <form action="":>
    Nome da task <input type="text" name="nomedatask" id="nomedatask" placeholder="nomedatask" />
    descricao da task <input type="text" name="descricao" id="descricao" placeholder="descricao" />
    responsavel da task <input type="text" name="responsavel" id="responsavel" placeholder="responsavel" />
    data da criacao <input type="date" name="criacao" id="criacao" placeholder="criacao" />
    data de termino <input type="date" name="temino" id="termino" placeholder="termino" />
  </form>
</div>
