<div class="container">
  <div class="cadastro">
    <h2>Creat</h2>

    <div *ngIf="isError" class="error">
      <i class="bx bx-heart-circle"></i>
      <span>Erro!</span>
    </div>

    <div *ngIf="isAprovado" class="isAprovado">
      <i class="bx bx-heart-circle"></i>
      <span>Account creat!</span>
    </div>

    <div class="input">
      <i class="bx bxs-user-circle"></i>
      <input
        type="text"
        name="User"
        id="User"
        placeholder="User"
        [(ngModel)]="user"
      />
    </div>
    <div class="input">
      <i class="bx bx-envelope-open"></i>
      <input type="text" name="email" id="email" placeholder="E-mail"
      [(ngModel)]="email"
      />
    </div>

    <div class="input">
      <i class="bx bxs-lock"></i>
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Password"
        [(ngModel)]="pwd"
      />
      <i class="bx bx-low-vision"></i>
    </div>

    <div class="input">
      <i class="bx bxs-lock"></i>
      <input
        type="password"
        name="confirm password"
        id="confirm password"
        placeholder="confirm Password"
        [(ngModel)]="pwd1"
      />
      <i class="bx bx-low-vision"></i>
    </div>

    <div class="remember">
      <button (click)="login()">CANCELAR</button>
      <button (click)="login()">CADASTRE-SE</button>
    </div>
  </div>
</div>
